diff --git a/CMakeLists.txt b/CMakeLists.txt
index f9be22d..b794b4b 100644
--- a/CMakeLists.txt
+++ b/CMakeLists.txt
@@ -25,7 +25,7 @@ ecm_setup_version(${KF5_VERSION} VARIABLE_PREFIX KCONFIG
 
 
 # Needed for the tests or examples to build correctly
-set(KConfig_KCFGC_EXECUTABLE kconfig_compiler)
+set(KConfig_KCFGC_EXECUTABLE kconfig_compiler_kf5)
 include(KF5ConfigMacros.cmake)
 
 add_subdirectory(src)
diff --git a/KF5ConfigMacros.cmake b/KF5ConfigMacros.cmake
index bf2615b..aeebee9 100644
--- a/KF5ConfigMacros.cmake
+++ b/KF5ConfigMacros.cmake
@@ -66,7 +66,7 @@ macro (KCONFIG_ADD_KCFG_FILES _sources )
 
        # the command for creating the source file from the kcfg file
        add_custom_command(OUTPUT ${_header_FILE} ${_src_FILE}
-                          COMMAND KF5::kconfig_compiler
+                          COMMAND KF5::kconfig_compiler_kf5
                           ARGS ${_kcfg_FILE} ${_tmp_FILE} -d ${CMAKE_CURRENT_BINARY_DIR}/${_rel_PATH}
                           MAIN_DEPENDENCY ${_tmp_FILE}
                           DEPENDS ${_kcfg_FILE} ${_KDE4_KCONFIG_COMPILER_DEP} )
diff --git a/autotests/kconfig_compiler/CMakeLists.txt b/autotests/kconfig_compiler/CMakeLists.txt
index ef2fd40..a2ebb94 100644
--- a/autotests/kconfig_compiler/CMakeLists.txt
+++ b/autotests/kconfig_compiler/CMakeLists.txt
@@ -1,12 +1,12 @@
 
-#test5.cpp test5.h: $(srcdir)/test5.kcfg ../kconfig_compiler $(srcdir)/test5.kcfgc
-#	../kconfig_compiler $(srcdir)/test5.kcfg $(srcdir)/test5.kcfgc
+#test5.cpp test5.h: $(srcdir)/test5.kcfg ../kconfig_compiler_kf5 $(srcdir)/test5.kcfgc
+#	../kconfig_compiler_kf5 $(srcdir)/test5.kcfg $(srcdir)/test5.kcfgc
 
 macro(GEN_KCFG_TEST_SOURCE _testName _srcs)
    add_custom_command(
       OUTPUT ${CMAKE_CURRENT_BINARY_DIR}/${_testName}.cpp ${CMAKE_CURRENT_BINARY_DIR}/${_testName}.h
       COMMAND ${KConfig_KCFGC_EXECUTABLE} ${CMAKE_CURRENT_SOURCE_DIR}/${_testName}.kcfg ${CMAKE_CURRENT_SOURCE_DIR}/${_testName}.kcfgc
-      DEPENDS ${CMAKE_CURRENT_SOURCE_DIR}/${_testName}.kcfg ${CMAKE_CURRENT_SOURCE_DIR}/${_testName}.kcfgc kconfig_compiler)
+      DEPENDS ${CMAKE_CURRENT_SOURCE_DIR}/${_testName}.kcfg ${CMAKE_CURRENT_SOURCE_DIR}/${_testName}.kcfgc kconfig_compiler_kf5)
 
 #   set_source_files_properties(${CMAKE_CURRENT_BINARY_DIR}/${_testName}.h PROPERTIES GENERATED TRUE)
    qt5_generate_moc(${CMAKE_CURRENT_BINARY_DIR}/${_testName}.h ${CMAKE_CURRENT_BINARY_DIR}/${_testName}.moc )
diff --git a/autotests/kconfig_compiler/test1.cpp.ref b/autotests/kconfig_compiler/test1.cpp.ref
index 611ce5c..dcb3ffc 100644
--- a/autotests/kconfig_compiler/test1.cpp.ref
+++ b/autotests/kconfig_compiler/test1.cpp.ref
@@ -1,4 +1,4 @@
-// This file is generated by kconfig_compiler from test1.kcfg.
+// This file is generated by kconfig_compiler_kf5 from test1.kcfg.
 // All changes you do to this file will be lost.
 
 #include "test1.h"
diff --git a/autotests/kconfig_compiler/test1.h.ref b/autotests/kconfig_compiler/test1.h.ref
index 57fa4bf..3410a60 100644
--- a/autotests/kconfig_compiler/test1.h.ref
+++ b/autotests/kconfig_compiler/test1.h.ref
@@ -1,4 +1,4 @@
-// This file is generated by kconfig_compiler from test1.kcfg.
+// This file is generated by kconfig_compiler_kf5 from test1.kcfg.
 // All changes you do to this file will be lost.
 #ifndef TEST1_H
 #define TEST1_H
diff --git a/autotests/kconfig_compiler/test1.kcfgc b/autotests/kconfig_compiler/test1.kcfgc
index 6e0edd3..2c8c096 100644
--- a/autotests/kconfig_compiler/test1.kcfgc
+++ b/autotests/kconfig_compiler/test1.kcfgc
@@ -1,4 +1,4 @@
-# Code generation options for kconfig_compiler
+# Code generation options for kconfig_compiler_kf5
 ClassName=Test1
 #
 # Singleton=false
diff --git a/autotests/kconfig_compiler/test10.cpp.ref b/autotests/kconfig_compiler/test10.cpp.ref
index ac28ab2..21aea9d 100644
--- a/autotests/kconfig_compiler/test10.cpp.ref
+++ b/autotests/kconfig_compiler/test10.cpp.ref
@@ -1,4 +1,4 @@
-// This file is generated by kconfig_compiler from test10.kcfg.
+// This file is generated by kconfig_compiler_kf5 from test10.kcfg.
 // All changes you do to this file will be lost.
 
 #include "test10.h"
diff --git a/autotests/kconfig_compiler/test10.h.ref b/autotests/kconfig_compiler/test10.h.ref
index f3f441d..93839a5 100644
--- a/autotests/kconfig_compiler/test10.h.ref
+++ b/autotests/kconfig_compiler/test10.h.ref
@@ -1,4 +1,4 @@
-// This file is generated by kconfig_compiler from test10.kcfg.
+// This file is generated by kconfig_compiler_kf5 from test10.kcfg.
 // All changes you do to this file will be lost.
 #ifndef TEST10_H
 #define TEST10_H
diff --git a/autotests/kconfig_compiler/test10.kcfgc b/autotests/kconfig_compiler/test10.kcfgc
index 83ac211..6dc4611 100644
--- a/autotests/kconfig_compiler/test10.kcfgc
+++ b/autotests/kconfig_compiler/test10.kcfgc
@@ -1,4 +1,4 @@
-# Code generation options for kconfig_compiler
+# Code generation options for kconfig_compiler_kf5
 File=test10.kcfg
 ClassName=Test10
 Singleton=true
diff --git a/autotests/kconfig_compiler/test11.cpp.ref b/autotests/kconfig_compiler/test11.cpp.ref
index 5a1f5b9..1e6ff9e 100644
--- a/autotests/kconfig_compiler/test11.cpp.ref
+++ b/autotests/kconfig_compiler/test11.cpp.ref
@@ -1,4 +1,4 @@
-// This file is generated by kconfig_compiler from test11.kcfg.
+// This file is generated by kconfig_compiler_kf5 from test11.kcfg.
 // All changes you do to this file will be lost.
 
 #include "test11.h"
diff --git a/autotests/kconfig_compiler/test11.h.ref b/autotests/kconfig_compiler/test11.h.ref
index b5eeb74..c60bb20 100644
--- a/autotests/kconfig_compiler/test11.h.ref
+++ b/autotests/kconfig_compiler/test11.h.ref
@@ -1,4 +1,4 @@
-// This file is generated by kconfig_compiler from test11.kcfg.
+// This file is generated by kconfig_compiler_kf5 from test11.kcfg.
 // All changes you do to this file will be lost.
 #ifndef TEST11_H
 #define TEST11_H
diff --git a/autotests/kconfig_compiler/test11.kcfg b/autotests/kconfig_compiler/test11.kcfg
index d82e132..73b2d01 100644
--- a/autotests/kconfig_compiler/test11.kcfg
+++ b/autotests/kconfig_compiler/test11.kcfg
@@ -103,7 +103,7 @@
 
   <group name="QueueRates">
     <entry name="queueRate$(QueueIndex)" type="IntList" key="EmptyingRate $(QueueIndex)">
-        <!-- kconfig_compiler really should do this for me... -->
+        <!-- kconfig_compiler_kf5 really should do this for me... -->
         <code>  QList&lt; QList&lt;int&gt; &gt; defaultRate;
   QList&lt; int &gt; defaultRateInit;
 
diff --git a/autotests/kconfig_compiler/test11.kcfgc b/autotests/kconfig_compiler/test11.kcfgc
index 2b6fee1..f54591f 100644
--- a/autotests/kconfig_compiler/test11.kcfgc
+++ b/autotests/kconfig_compiler/test11.kcfgc
@@ -1,4 +1,4 @@
-# Code generation options for kconfig_compiler
+# Code generation options for kconfig_compiler_kf5
 File=test11.kcfg
 ClassName=Test11
 Singleton=false
diff --git a/autotests/kconfig_compiler/test11a.cpp.ref b/autotests/kconfig_compiler/test11a.cpp.ref
index f826fc1..9165661 100644
--- a/autotests/kconfig_compiler/test11a.cpp.ref
+++ b/autotests/kconfig_compiler/test11a.cpp.ref
@@ -1,4 +1,4 @@
-// This file is generated by kconfig_compiler from test11a.kcfg.
+// This file is generated by kconfig_compiler_kf5 from test11a.kcfg.
 // All changes you do to this file will be lost.
 
 #include "test11a.h"
diff --git a/autotests/kconfig_compiler/test11a.h.ref b/autotests/kconfig_compiler/test11a.h.ref
index 4410ce2..16bdb76 100644
--- a/autotests/kconfig_compiler/test11a.h.ref
+++ b/autotests/kconfig_compiler/test11a.h.ref
@@ -1,4 +1,4 @@
-// This file is generated by kconfig_compiler from test11a.kcfg.
+// This file is generated by kconfig_compiler_kf5 from test11a.kcfg.
 // All changes you do to this file will be lost.
 #ifndef TEST11A_H
 #define TEST11A_H
diff --git a/autotests/kconfig_compiler/test11a.kcfg b/autotests/kconfig_compiler/test11a.kcfg
index da02706..666c305 100644
--- a/autotests/kconfig_compiler/test11a.kcfg
+++ b/autotests/kconfig_compiler/test11a.kcfg
@@ -102,7 +102,7 @@
 
   <group name="QueueRates">
     <entry name="queueRate$(QueueIndex)" type="IntList" key="EmptyingRate $(QueueIndex)">
-        <!-- kconfig_compiler really should do this for me... -->
+        <!-- kconfig_compiler_kf5 really should do this for me... -->
         <code>  QList&lt; QList&lt;int&gt; &gt; defaultRate;
   QList&lt; int &gt; defaultRateInit;
 
diff --git a/autotests/kconfig_compiler/test11a.kcfgc b/autotests/kconfig_compiler/test11a.kcfgc
index cf0b0d8..747103d 100644
--- a/autotests/kconfig_compiler/test11a.kcfgc
+++ b/autotests/kconfig_compiler/test11a.kcfgc
@@ -1,4 +1,4 @@
-# Code generation options for kconfig_compiler
+# Code generation options for kconfig_compiler_kf5
 File=test11a.kcfg
 ClassName=Test11a
 Singleton=false
diff --git a/autotests/kconfig_compiler/test12.cpp.ref b/autotests/kconfig_compiler/test12.cpp.ref
index 69d5bba..e1cd01a 100644
--- a/autotests/kconfig_compiler/test12.cpp.ref
+++ b/autotests/kconfig_compiler/test12.cpp.ref
@@ -1,4 +1,4 @@
-// This file is generated by kconfig_compiler from test12.kcfg.
+// This file is generated by kconfig_compiler_kf5 from test12.kcfg.
 // All changes you do to this file will be lost.
 
 #include "test12.h"
diff --git a/autotests/kconfig_compiler/test12.h.ref b/autotests/kconfig_compiler/test12.h.ref
index d55414e..d96d460 100644
--- a/autotests/kconfig_compiler/test12.h.ref
+++ b/autotests/kconfig_compiler/test12.h.ref
@@ -1,4 +1,4 @@
-// This file is generated by kconfig_compiler from test12.kcfg.
+// This file is generated by kconfig_compiler_kf5 from test12.kcfg.
 // All changes you do to this file will be lost.
 #ifndef TEST12_H
 #define TEST12_H
diff --git a/autotests/kconfig_compiler/test2.cpp.ref b/autotests/kconfig_compiler/test2.cpp.ref
index 476b34c..e99eb7c 100644
--- a/autotests/kconfig_compiler/test2.cpp.ref
+++ b/autotests/kconfig_compiler/test2.cpp.ref
@@ -1,4 +1,4 @@
-// This file is generated by kconfig_compiler from test2.kcfg.
+// This file is generated by kconfig_compiler_kf5 from test2.kcfg.
 // All changes you do to this file will be lost.
 
 #include "test2.h"
diff --git a/autotests/kconfig_compiler/test2.h.ref b/autotests/kconfig_compiler/test2.h.ref
index 49af161..77ba56f 100644
--- a/autotests/kconfig_compiler/test2.h.ref
+++ b/autotests/kconfig_compiler/test2.h.ref
@@ -1,4 +1,4 @@
-// This file is generated by kconfig_compiler from test2.kcfg.
+// This file is generated by kconfig_compiler_kf5 from test2.kcfg.
 // All changes you do to this file will be lost.
 #ifndef TEST2_H
 #define TEST2_H
diff --git a/autotests/kconfig_compiler/test2.kcfgc b/autotests/kconfig_compiler/test2.kcfgc
index 56620d2..47ce59e 100644
--- a/autotests/kconfig_compiler/test2.kcfgc
+++ b/autotests/kconfig_compiler/test2.kcfgc
@@ -1,4 +1,4 @@
-# Code generation options for kconfig_compiler
+# Code generation options for kconfig_compiler_kf5
 File=test2.kcfg
 ClassName=Test2
 Singleton=false
diff --git a/autotests/kconfig_compiler/test3.cpp.ref b/autotests/kconfig_compiler/test3.cpp.ref
index 0c9187a..1ac9525 100644
--- a/autotests/kconfig_compiler/test3.cpp.ref
+++ b/autotests/kconfig_compiler/test3.cpp.ref
@@ -1,4 +1,4 @@
-// This file is generated by kconfig_compiler from test3.kcfg.
+// This file is generated by kconfig_compiler_kf5 from test3.kcfg.
 // All changes you do to this file will be lost.
 
 #include "test3.h"
diff --git a/autotests/kconfig_compiler/test3.h.ref b/autotests/kconfig_compiler/test3.h.ref
index 931e2e2..bee48fb 100644
--- a/autotests/kconfig_compiler/test3.h.ref
+++ b/autotests/kconfig_compiler/test3.h.ref
@@ -1,4 +1,4 @@
-// This file is generated by kconfig_compiler from test3.kcfg.
+// This file is generated by kconfig_compiler_kf5 from test3.kcfg.
 // All changes you do to this file will be lost.
 #ifndef TESTNAMESPACE_TEST3_H
 #define TESTNAMESPACE_TEST3_H
diff --git a/autotests/kconfig_compiler/test3.kcfgc b/autotests/kconfig_compiler/test3.kcfgc
index ca2c220..f3fa300 100644
--- a/autotests/kconfig_compiler/test3.kcfgc
+++ b/autotests/kconfig_compiler/test3.kcfgc
@@ -1,4 +1,4 @@
-# Code generation options for kconfig_compiler
+# Code generation options for kconfig_compiler_kf5
 File=test3.kcfg
 NameSpace=TestNameSpace
 ClassName=Test3
diff --git a/autotests/kconfig_compiler/test3a.cpp.ref b/autotests/kconfig_compiler/test3a.cpp.ref
index 34321e9..dc72171 100644
--- a/autotests/kconfig_compiler/test3a.cpp.ref
+++ b/autotests/kconfig_compiler/test3a.cpp.ref
@@ -1,4 +1,4 @@
-// This file is generated by kconfig_compiler from test3a.kcfg.
+// This file is generated by kconfig_compiler_kf5 from test3a.kcfg.
 // All changes you do to this file will be lost.
 
 #include "test3a.h"
diff --git a/autotests/kconfig_compiler/test3a.h.ref b/autotests/kconfig_compiler/test3a.h.ref
index 56d672a..a44ce84 100644
--- a/autotests/kconfig_compiler/test3a.h.ref
+++ b/autotests/kconfig_compiler/test3a.h.ref
@@ -1,4 +1,4 @@
-// This file is generated by kconfig_compiler from test3a.kcfg.
+// This file is generated by kconfig_compiler_kf5 from test3a.kcfg.
 // All changes you do to this file will be lost.
 #ifndef TESTNAMESPACE_INNERNAMESPACE_TEST3A_H
 #define TESTNAMESPACE_INNERNAMESPACE_TEST3A_H
diff --git a/autotests/kconfig_compiler/test3a.kcfgc b/autotests/kconfig_compiler/test3a.kcfgc
index ca849a8..3ebb58d 100644
--- a/autotests/kconfig_compiler/test3a.kcfgc
+++ b/autotests/kconfig_compiler/test3a.kcfgc
@@ -1,4 +1,4 @@
-# Code generation options for kconfig_compiler
+# Code generation options for kconfig_compiler_kf5
 File=test3a.kcfg
 NameSpace=TestNameSpace::InnerNameSpace
 ClassName=Test3a
diff --git a/autotests/kconfig_compiler/test4.cpp.ref b/autotests/kconfig_compiler/test4.cpp.ref
index 171d655..66d0357 100644
--- a/autotests/kconfig_compiler/test4.cpp.ref
+++ b/autotests/kconfig_compiler/test4.cpp.ref
@@ -1,4 +1,4 @@
-// This file is generated by kconfig_compiler from test4.kcfg.
+// This file is generated by kconfig_compiler_kf5 from test4.kcfg.
 // All changes you do to this file will be lost.
 
 #include "test4.h"
diff --git a/autotests/kconfig_compiler/test4.h.ref b/autotests/kconfig_compiler/test4.h.ref
index 991a4f7..9a74d3f 100644
--- a/autotests/kconfig_compiler/test4.h.ref
+++ b/autotests/kconfig_compiler/test4.h.ref
@@ -1,4 +1,4 @@
-// This file is generated by kconfig_compiler from test4.kcfg.
+// This file is generated by kconfig_compiler_kf5 from test4.kcfg.
 // All changes you do to this file will be lost.
 #ifndef TEST4_H
 #define TEST4_H
diff --git a/autotests/kconfig_compiler/test4.kcfgc b/autotests/kconfig_compiler/test4.kcfgc
index 754706d..47c1fd0 100644
--- a/autotests/kconfig_compiler/test4.kcfgc
+++ b/autotests/kconfig_compiler/test4.kcfgc
@@ -1,4 +1,4 @@
-# Code generation options for kconfig_compiler
+# Code generation options for kconfig_compiler_kf5
 File=test4.kcfg
 ClassName=Test4
 Singleton=true
diff --git a/autotests/kconfig_compiler/test5.cpp.ref b/autotests/kconfig_compiler/test5.cpp.ref
index 2a95dcd..088cc78 100644
--- a/autotests/kconfig_compiler/test5.cpp.ref
+++ b/autotests/kconfig_compiler/test5.cpp.ref
@@ -1,4 +1,4 @@
-// This file is generated by kconfig_compiler from test5.kcfg.
+// This file is generated by kconfig_compiler_kf5 from test5.kcfg.
 // All changes you do to this file will be lost.
 
 #include "test5.h"
diff --git a/autotests/kconfig_compiler/test5.h.ref b/autotests/kconfig_compiler/test5.h.ref
index 46a591c..8d2cab2 100644
--- a/autotests/kconfig_compiler/test5.h.ref
+++ b/autotests/kconfig_compiler/test5.h.ref
@@ -1,4 +1,4 @@
-// This file is generated by kconfig_compiler from test5.kcfg.
+// This file is generated by kconfig_compiler_kf5 from test5.kcfg.
 // All changes you do to this file will be lost.
 #ifndef TEST5_H
 #define TEST5_H
diff --git a/autotests/kconfig_compiler/test5.kcfgc b/autotests/kconfig_compiler/test5.kcfgc
index 663005e..1c8f161 100644
--- a/autotests/kconfig_compiler/test5.kcfgc
+++ b/autotests/kconfig_compiler/test5.kcfgc
@@ -1,4 +1,4 @@
-# Code generation options for kconfig_compiler
+# Code generation options for kconfig_compiler_kf5
 File=test5.kcfg
 ClassName=Test5
 Singleton=true
diff --git a/autotests/kconfig_compiler/test6.cpp.ref b/autotests/kconfig_compiler/test6.cpp.ref
index 0fce03a..629d828 100644
--- a/autotests/kconfig_compiler/test6.cpp.ref
+++ b/autotests/kconfig_compiler/test6.cpp.ref
@@ -1,4 +1,4 @@
-// This file is generated by kconfig_compiler from test6.kcfg.
+// This file is generated by kconfig_compiler_kf5 from test6.kcfg.
 // All changes you do to this file will be lost.
 
 #include "test6.h"
diff --git a/autotests/kconfig_compiler/test6.h.ref b/autotests/kconfig_compiler/test6.h.ref
index f1fb59f..7a9998e 100644
--- a/autotests/kconfig_compiler/test6.h.ref
+++ b/autotests/kconfig_compiler/test6.h.ref
@@ -1,4 +1,4 @@
-// This file is generated by kconfig_compiler from test6.kcfg.
+// This file is generated by kconfig_compiler_kf5 from test6.kcfg.
 // All changes you do to this file will be lost.
 #ifndef TEST6_H
 #define TEST6_H
diff --git a/autotests/kconfig_compiler/test6.kcfgc b/autotests/kconfig_compiler/test6.kcfgc
index b69dc15..3542eac 100644
--- a/autotests/kconfig_compiler/test6.kcfgc
+++ b/autotests/kconfig_compiler/test6.kcfgc
@@ -1,4 +1,4 @@
-# Code generation options for kconfig_compiler
+# Code generation options for kconfig_compiler_kf5
 File=test6.kcfg
 ClassName=Test6
 Singleton=false
diff --git a/autotests/kconfig_compiler/test7.cpp.ref b/autotests/kconfig_compiler/test7.cpp.ref
index 4ee7d28..f506b09 100644
--- a/autotests/kconfig_compiler/test7.cpp.ref
+++ b/autotests/kconfig_compiler/test7.cpp.ref
@@ -1,4 +1,4 @@
-// This file is generated by kconfig_compiler from test7.kcfg.
+// This file is generated by kconfig_compiler_kf5 from test7.kcfg.
 // All changes you do to this file will be lost.
 
 #include "test7.h"
diff --git a/autotests/kconfig_compiler/test7.h.ref b/autotests/kconfig_compiler/test7.h.ref
index 417c75a..694dba5 100644
--- a/autotests/kconfig_compiler/test7.h.ref
+++ b/autotests/kconfig_compiler/test7.h.ref
@@ -1,4 +1,4 @@
-// This file is generated by kconfig_compiler from test7.kcfg.
+// This file is generated by kconfig_compiler_kf5 from test7.kcfg.
 // All changes you do to this file will be lost.
 #ifndef TEST7_H
 #define TEST7_H
diff --git a/autotests/kconfig_compiler/test7.kcfgc b/autotests/kconfig_compiler/test7.kcfgc
index 9a6c409..0b4228c 100644
--- a/autotests/kconfig_compiler/test7.kcfgc
+++ b/autotests/kconfig_compiler/test7.kcfgc
@@ -1,4 +1,4 @@
-# Code generation options for kconfig_compiler
+# Code generation options for kconfig_compiler_kf5
 File=test7.kcfg
 ClassName=Test7
 Singleton=false
diff --git a/autotests/kconfig_compiler/test8a.cpp.ref b/autotests/kconfig_compiler/test8a.cpp.ref
index af85f0c..00d4d02 100644
--- a/autotests/kconfig_compiler/test8a.cpp.ref
+++ b/autotests/kconfig_compiler/test8a.cpp.ref
@@ -1,4 +1,4 @@
-// This file is generated by kconfig_compiler from test8a.kcfg.
+// This file is generated by kconfig_compiler_kf5 from test8a.kcfg.
 // All changes you do to this file will be lost.
 
 #include "test8a.h"
diff --git a/autotests/kconfig_compiler/test8a.h.ref b/autotests/kconfig_compiler/test8a.h.ref
index fd1b364..ec9d64b 100644
--- a/autotests/kconfig_compiler/test8a.h.ref
+++ b/autotests/kconfig_compiler/test8a.h.ref
@@ -1,4 +1,4 @@
-// This file is generated by kconfig_compiler from test8a.kcfg.
+// This file is generated by kconfig_compiler_kf5 from test8a.kcfg.
 // All changes you do to this file will be lost.
 #ifndef TEST8A_H
 #define TEST8A_H
diff --git a/autotests/kconfig_compiler/test8b.cpp.ref b/autotests/kconfig_compiler/test8b.cpp.ref
index ba0c8b4..dcd6169 100644
--- a/autotests/kconfig_compiler/test8b.cpp.ref
+++ b/autotests/kconfig_compiler/test8b.cpp.ref
@@ -1,4 +1,4 @@
-// This file is generated by kconfig_compiler from test8b.kcfg.
+// This file is generated by kconfig_compiler_kf5 from test8b.kcfg.
 // All changes you do to this file will be lost.
 
 #include "test8b.h"
diff --git a/autotests/kconfig_compiler/test8b.h.ref b/autotests/kconfig_compiler/test8b.h.ref
index 140bbb9..496ac69 100644
--- a/autotests/kconfig_compiler/test8b.h.ref
+++ b/autotests/kconfig_compiler/test8b.h.ref
@@ -1,4 +1,4 @@
-// This file is generated by kconfig_compiler from test8b.kcfg.
+// This file is generated by kconfig_compiler_kf5 from test8b.kcfg.
 // All changes you do to this file will be lost.
 #ifndef TEST8B_H
 #define TEST8B_H
diff --git a/autotests/kconfig_compiler/test9.cpp.ref b/autotests/kconfig_compiler/test9.cpp.ref
index af90acd..bc65f43 100644
--- a/autotests/kconfig_compiler/test9.cpp.ref
+++ b/autotests/kconfig_compiler/test9.cpp.ref
@@ -1,4 +1,4 @@
-// This file is generated by kconfig_compiler from test9.kcfg.
+// This file is generated by kconfig_compiler_kf5 from test9.kcfg.
 // All changes you do to this file will be lost.
 
 #include "test9.h"
diff --git a/autotests/kconfig_compiler/test9.h.ref b/autotests/kconfig_compiler/test9.h.ref
index 02b3d47..f2290f8 100644
--- a/autotests/kconfig_compiler/test9.h.ref
+++ b/autotests/kconfig_compiler/test9.h.ref
@@ -1,4 +1,4 @@
-// This file is generated by kconfig_compiler from test9.kcfg.
+// This file is generated by kconfig_compiler_kf5 from test9.kcfg.
 // All changes you do to this file will be lost.
 #ifndef TEST9_H
 #define TEST9_H
diff --git a/autotests/kconfig_compiler/test9.kcfgc b/autotests/kconfig_compiler/test9.kcfgc
index d442333..cf416bb 100644
--- a/autotests/kconfig_compiler/test9.kcfgc
+++ b/autotests/kconfig_compiler/test9.kcfgc
@@ -1,4 +1,4 @@
-# Code generation options for kconfig_compiler
+# Code generation options for kconfig_compiler_kf5
 ClassName=Test9
 #
 # Singleton=false
diff --git a/autotests/kconfig_compiler/test_dpointer.cpp.ref b/autotests/kconfig_compiler/test_dpointer.cpp.ref
index ffe931e..e50bf8a 100644
--- a/autotests/kconfig_compiler/test_dpointer.cpp.ref
+++ b/autotests/kconfig_compiler/test_dpointer.cpp.ref
@@ -1,4 +1,4 @@
-// This file is generated by kconfig_compiler from test_dpointer.kcfg.
+// This file is generated by kconfig_compiler_kf5 from test_dpointer.kcfg.
 // All changes you do to this file will be lost.
 
 #include "test_dpointer.h"
diff --git a/autotests/kconfig_compiler/test_dpointer.h.ref b/autotests/kconfig_compiler/test_dpointer.h.ref
index e10c8c7..0493856 100644
--- a/autotests/kconfig_compiler/test_dpointer.h.ref
+++ b/autotests/kconfig_compiler/test_dpointer.h.ref
@@ -1,4 +1,4 @@
-// This file is generated by kconfig_compiler from test_dpointer.kcfg.
+// This file is generated by kconfig_compiler_kf5 from test_dpointer.kcfg.
 // All changes you do to this file will be lost.
 #ifndef TESTDPOINTER_H
 #define TESTDPOINTER_H
diff --git a/autotests/kconfig_compiler/test_dpointer.kcfgc b/autotests/kconfig_compiler/test_dpointer.kcfgc
index 48baa37..3c45b08 100644
--- a/autotests/kconfig_compiler/test_dpointer.kcfgc
+++ b/autotests/kconfig_compiler/test_dpointer.kcfgc
@@ -1,4 +1,4 @@
-# Code generation options for kconfig_compiler
+# Code generation options for kconfig_compiler_kf5
 File=test_dpointer.kcfg
 ClassName=TestDPointer
 Singleton=true
diff --git a/autotests/kconfig_compiler/test_signal.cpp.ref b/autotests/kconfig_compiler/test_signal.cpp.ref
index 1dad37b..fd2d4bc 100644
--- a/autotests/kconfig_compiler/test_signal.cpp.ref
+++ b/autotests/kconfig_compiler/test_signal.cpp.ref
@@ -1,4 +1,4 @@
-// This file is generated by kconfig_compiler from test_signal.kcfg.
+// This file is generated by kconfig_compiler_kf5 from test_signal.kcfg.
 // All changes you do to this file will be lost.
 
 #include "test_signal.h"
@@ -25,7 +25,7 @@ TestSignal *TestSignal::self()
 }
 
 TestSignal::TestSignal(  )
-  : KConfigSkeleton( QLatin1String( "kconfig_compiler_test_rc" ) )
+  : KConfigSkeleton( QLatin1String( "kconfig_compiler_kf5_test_rc" ) )
   , mSettingsChanged(0)
 {
   Q_ASSERT(!s_globalTestSignal()->q);
diff --git a/autotests/kconfig_compiler/test_signal.h.ref b/autotests/kconfig_compiler/test_signal.h.ref
index 801ff92..737718d 100644
--- a/autotests/kconfig_compiler/test_signal.h.ref
+++ b/autotests/kconfig_compiler/test_signal.h.ref
@@ -1,4 +1,4 @@
-// This file is generated by kconfig_compiler from test_signal.kcfg.
+// This file is generated by kconfig_compiler_kf5 from test_signal.kcfg.
 // All changes you do to this file will be lost.
 #ifndef TESTSIGNAL_H
 #define TESTSIGNAL_H
diff --git a/autotests/kconfig_compiler/test_signal.kcfg b/autotests/kconfig_compiler/test_signal.kcfg
index 1b2c36e..52dfb96 100644
--- a/autotests/kconfig_compiler/test_signal.kcfg
+++ b/autotests/kconfig_compiler/test_signal.kcfg
@@ -4,7 +4,7 @@
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.kde.org/standards/kcfg/1.0
       http://www.kde.org/standards/kcfg/1.0/kcfg.xsd" >
-	<kcfgfile name="kconfig_compiler_test_rc"/>
+	<kcfgfile name="kconfig_compiler_kf5_test_rc"/>
 
 	<signal name="emoticonSettingsChanged" />
 	
diff --git a/src/kconfig_compiler/CMakeLists.txt b/src/kconfig_compiler/CMakeLists.txt
index 31726df..71f2609 100644
--- a/src/kconfig_compiler/CMakeLists.txt
+++ b/src/kconfig_compiler/CMakeLists.txt
@@ -3,13 +3,13 @@
 set(kconfig_compiler_SRCS kconfig_compiler.cpp)
 
 
-add_executable(kconfig_compiler ${kconfig_compiler_SRCS})
-add_executable(KF5::kconfig_compiler ALIAS kconfig_compiler)
+add_executable(kconfig_compiler_kf5 ${kconfig_compiler_SRCS})
+add_executable(KF5::kconfig_compiler_kf5 ALIAS kconfig_compiler_kf5)
 
 find_package(Qt5Xml 5.2.0 REQUIRED NO_MODULE)
 
-target_link_libraries(kconfig_compiler Qt5::Xml)
+target_link_libraries(kconfig_compiler_kf5 Qt5::Xml)
 
 # "export" this target too so we can use the LOCATION property of the imported target in
 # FindKDE4Internal.cmake to get the full path to the installed executable instead of using FIND_PROGRAM(), Alex
-install(TARGETS kconfig_compiler EXPORT KF5ConfigTargets ${INSTALL_TARGETS_DEFAULT_ARGS} )
+install(TARGETS kconfig_compiler_kf5 EXPORT KF5ConfigTargets ${INSTALL_TARGETS_DEFAULT_ARGS} )
diff --git a/src/kconfig_compiler/checkkcfg.pl b/src/kconfig_compiler/checkkcfg.pl
index 2eddbee..9ebcbf8 100755
--- a/src/kconfig_compiler/checkkcfg.pl
+++ b/src/kconfig_compiler/checkkcfg.pl
@@ -15,12 +15,12 @@ $file_cpp = "$filebase.cpp";
 
 $kcfgc = $file . "c";
 
-$cmd = "./kconfig_compiler $file $kcfgc";
+$cmd = "./kconfig_compiler_kf5 $file $kcfgc";
 
 #print "CMD $cmd\n";
 
 if ( system( $cmd ) != 0 ) {
-  print STDERR "Unable to run kconfig_compiler\n";
+  print STDERR "Unable to run kconfig_compiler_kf5\n";
   exit 1;
 }
 
diff --git a/src/kconfig_compiler/kconfig_compiler.cpp b/src/kconfig_compiler/kconfig_compiler.cpp
index bdbd03c..1c8d1bc 100644
--- a/src/kconfig_compiler/kconfig_compiler.cpp
+++ b/src/kconfig_compiler/kconfig_compiler.cpp
@@ -1073,7 +1073,7 @@ QString param(const QString &t)
     } else if (type == "urllist") {
         return "const QList<QUrl> &";
     } else {
-        cerr << "kconfig_compiler does not support type \"" << type << "\"" << endl;
+        cerr << "kconfig_compiler_kf5 does not support type \"" << type << "\"" << endl;
         return "QString"; //For now, but an assert would be better
     }
 }
@@ -1127,7 +1127,7 @@ QString cppType(const QString &t)
     } else if (type == "urllist") {
         return "QList<QUrl>";
     } else {
-        cerr << "kconfig_compiler does not support type \"" << type << "\"" << endl;
+        cerr << "kconfig_compiler_kf5 does not support type \"" << type << "\"" << endl;
         return "QString"; //For now, but an assert would be better
     }
 }
@@ -1178,7 +1178,7 @@ QString defaultValue(const QString &t)
     } else if (type == "urllist") {
         return "QList<QUrl>()";
     } else {
-        cerr << "Error, kconfig_compiler does not support the \"" << type << "\" type!" << endl;
+        cerr << "Error, kconfig_compiler_kf5 does not support the \"" << type << "\" type!" << endl;
         return "QString"; //For now, but an assert would be better
     }
 }
@@ -1705,7 +1705,7 @@ int main(int argc, char **argv)
 
     QTextStream h(&header);
 
-    h << "// This file is generated by kconfig_compiler from " << QFileInfo(inputFilename).fileName() << "." << endl;
+    h << "// This file is generated by kconfig_compiler_kf5 from " << QFileInfo(inputFilename).fileName() << "." << endl;
     h << "// All changes you do to this file will be lost." << endl;
 
     h << "#ifndef " << (!cfg.nameSpace.isEmpty() ? QString(QString(cfg.nameSpace).replace("::", "_").toUpper() + '_') : "")
